@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }

  body {
    background-color: #fff;
    overflow-x: hidden;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-box {
    @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
  }

  .btn-primary {
    @apply w-full text-sm font-medium text-white bg-primary shadow-lg shadow-primary/5 p-[10px] rounded-md my-1 hover:bg-primary/90 transition-all duration-200 ease-in-out;
  }
}
